@import url('https://fonts.googleapis.com/css2?family=Handjet&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handjet&family=Mukta&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@400;500&family=Mukta&family=Poppins&family=Press+Start+2P&display=swap');

.page1 {
    min-height: 82vh;
    padding: 5rem 0;
    flex: 1;
    display: flex;
    flex-direction: colum;
    justify-content: center;
    align-items: center;
    background: linear-gradient(120deg, #6591b4, #032038, #08263f);

    ul {
        font-size: 3.5rem;
        padding-right: 8rem;

        .hello {
            font-size: 2rem;
        }

        li {
            font-family: 'Handjet', cursive;
            font-size: 2rem;
            display: flex;

            @keyframes blink {
                0% { 
                    opacity: 1; 
                } 
                
                50% { 
                    opacity: 0; 
                }
                
                100% { 
                    opacity: 1; 
                }
            }

            .pointer {
                height: 1.8rem;
                max-width: .1px;
                border: white .5px solid;
                animation: blink 1s infinite;
                margin-top: 1.5px;
                margin: 1.5px 5px;
            }
        }

        .contact_me {
            justify-content: center;

            button {
                border-radius: 80px;
                height: 80px;
                width: 93%;
                background-color: #6591b4;
                border: none;
                margin-top: 20px;
                font-family: 'Poppins', sans-serif;
                font-size: 1.5rem;
            }
        }
    }
    
    hr {
        margin: unset;
    }
}

.page2 {
    display: flex;
    min-height: 82vh;
    padding: 5rem 10rem;
    background-color: #032038;
    
    .habilit_box {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        .box {
            background-color: grey;
            transition: .3s;
            margin: unset;
            margin-right: 2rem;
            filter: opacity(.5);

            &:hover {
                color: currentColor;
                background-color: lightgrey;
                filter: unset;
                width: 7rem;
                height: 7rem;
            }
        }

        Img {
            background-color: lightgrey;
            border-radius: 15px;
            cursor: pointer;
        }
    }

    ul {
        margin: 0 0 0 auto;

        .habilits {
            font-family: "Press Start 2P", cursive;
            font-size: 2.5rem;
            margin-bottom: .6rem;
        }
    }
}