@import '../preDefinitions.scss';

.content {
    background-color: white;
    
    ul {
        display: $display;
        justify-content: center;

        li {
            color: black;
            display: $display;

            a {
                svg {
                    margin: .3rem .5rem;
                }
            }
        }
    }
}